.TodoTemplate {
  width: 512px;
  //width가 주어진 상태에서 좌우 중앙 정렬
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px; //바깥 테두리 경계의 모서리를 둥글게 만들기
  overflow: hidden; //요소의 컨텐츠가 너무 커서 블록 서식 맥락에 못 맞추고 넘쳐흐를 때/visiblel; hidden; scroll; auto;

  .app-title {
    //타이틀 배경
    background: #22b8cf;
    color: white;
    height: 4rem; //상대적으로 크기를 정하는 단위. 문서의 최상위 요소(html)xNrem배수; 16px 2rem => 16x2 32px
    font-size: 1.5rem;
    display: flex; //=Flexible box; Elements의 크기나 위치를 쉽게 잡아주는 도구. https://opentutorials.org/course/2418/13526
    //justify-content; align-items; flex-direction; order; align-self; flex-wrap; flex-flow; align-content;
    align-items: center;
    justify-content: center;
  }

  .content {
    background: white;
  }
}
